<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logo4.png" id="logoAP">
        </div>

        <div class="redes">
            <a href=""><img src="../../../assets/Linkedin.png" id="linkedin"></a>
            <a href=""><img src="../../../assets/TW.png" id="twitter"></a>
            <a href=""><img src="../../../assets/IG.png" id="instagram"></a>
            <a href=""><img src="../../../assets/GH.png" id="github"></a>
            <a href=""><img src="../../../assets/FC.png" id="facebook"></a>  
            <button type="button" class="btn btn-dark">INGRESO</button>
            
        </div>

    </div>
</div>

