<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilFoto1.jpg" class="img-fluid" id="fotodeperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum, dolor sit amet consectetur 
            adipisicing elit. Nemo odit alias 
            maiores vel minus blanditiis, 
            praesentium in impedit, deserunt 
            voluptas quos dolorum nisi quas saepe 
            at? Perspiciatis molestiae repellat 
            consequatur!</p>
    </div>


</div>
