.row{
    padding: 20px;
    background-color: rgb(232, 235, 234);
}

.contenedor{
    width: auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    box-shadow: 10px 10px 30px rgb(126, 125, 125);
    box-shadow: ejeX ejeY difumasion rgb(3, 3, 3);
    width: 500px;
}